name: Android CI

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # This line enables manual triggering

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Build Release APK
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: ./gradlew assembleRelease

      - name: Rename APK
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/alkalimah.apk

      - name: Upload Release APK
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: alkalimah-apk
          path: app/build/outputs/apk/release/alkalimah.apk

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            app/build/outputs/apk/release/alkalimah.apk
